@font-face {
	font-family: "Uni Sans";
	src: url(css/fonts/UniSansHeavy.otf);
}
@font-face {
	font-family: "Lato";
	src: url(css/fonts/Lato-Regular.ttf);
}
@font-face {
	font-family: "Museo";
	src: url(css/fonts/MuseoSlab-300.ttf);
}
@font-face {
	font-family: "Roboto";
	src: url(css/fonts/Roboto-Regular.ttf);
}
@keyframes move {
	0% {
        transform: translateY(4px) rotate(355deg);
    }          
    100% {
        transform: translateY(0px) rotate(356deg);
    }   
}
@keyframes hide {
	0% {
        opacity: 1;
    }          
    100% {
        opacity: 0;
    }   
}
@keyframes show {
	0% {
        opacity: 0;
    }          
    100% {
        opacity: 1;
    }   
}
body {
	color: #EFEFEF;
	background-color: black;
	margin: 0px;
}
h1 {
	width: 100%;
	text-align: center;
	background-color: #222;
	padding: 30px 0 30px 0;
	font-family: Roboto;
	font-style: italic;
	margin-bottom: 100px;
}
h2 {
	width: 100%;
	text-align: center;
	font-family: Helvetica;
}
h3 {
	margin-left: 20px;
	font-family: Helvetica;
}
p, li {
	font-family: Roboto;
	text-align: justify;
}
ul {
	list-style-type: square;
}
a {
	color: #CCCCFE;
}
td {
	width: 50%;
	text-align: center;
	font-family: Roboto;
}
.slider img {
	width: 100%;
}
.top {
	width: 100%;
}
#bannerRocket {
	animation: move 5s ease infinite alternate;
	position: absolute;
	width: 50%;
	top: 400px;
	left: 40%;
	position: absolute;
}
#mainBanner {
	z-index: -9;
}
#slogan {
	margin-bottom: -70px;
	margin-top: 70px;
	width: 100%;
	text-align: center;
	font-family: Uni Sans;
	font-size: 130px;
	z-index: -10;
}
.cont {
	width: 60%;
	margin: 0 auto;
}
.infoBlock {
	margin-bottom: 70px;
}
.slider {
	position: relative;
	overflow: hidden;
}
.but {
	position: absolute;
	transform: translateY(-50%);
	opacity: 0.2;
	top: 50%;
}
#leftBut {
	padding: 200px 200px 200px 0;
	left: 5%;  
}
#rightBut {
	padding: 200px 0 200px 200px;
	right: 5%;
}
.but:hover {
	opacity: 0.6;
	cursor: pointer;
}
#sliderImage.hide {
	animation: hide 0.2s;
}
#sliderImage.preShow {
	opacity: 0;
}
#sliderImage.show {
	animation: show 0.2s;
}
.money {
	font-size: 40px;
}
.justImg {
	width: 100%;
}



nav ul {
    background: #222;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 15%;
}
nav a {
    background: #222;
    color: #ddd;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
}
nav li:hover a {
    background: #333;
}
nav li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    width: 100%;
}
nav li ul a:hover {
    background: #444;
}

.menu {
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
}